@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* --------------------------------
 * 変数管理
 * -------------------------------- */
/* 色 ----------- */
/* ベース色 */
/* テキスト色 */
/* フォント ----------- */
/* 標準フォント */
/* 余白 ----------- */
/* ブレイクポイント ----------- */
/* タブレット */
/* スマホ */
/* メディアクエリ ----------- */
/* タブレット */
/* スマホ */
/* --------------------------------
 * font-size定義
 * -------------------------------- */
/* $sizeにpx表示を入れて使う */
/* --------------------------------
 * base(共通)
 * -------------------------------- */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #141414;
  font-size: 16px;
  /* IE9以前に対応する */
  font-size: 1rem;
  font-family: "Noto Sans JP", meiryo, sans-serif;
}

body.noscroll {
  overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* 非表示 */
.hidden {
  display: none;
}

/* 画像 */
img {
  width: 100%;
  vertical-align: bottom;
}

.inner {
  max-width: calc(1030px + 50px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 959px) {
  .inner {
    max-width: calc(700px + 50px * 2);
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 599px) {
  .inner {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.section {
  padding-top: 104px;
  padding-bottom: 50px;
}

.section-title {
  margin-bottom: 70px;
  font-size: 36px;
  /* IE9以前に対応する */
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

.section-message {
  margin-bottom: 40px;
  font-size: 24px;
  /* IE9以前に対応する */
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 2.4px;
}

@media screen and (max-width: 599px) {
  .section-message {
    font-size: 20px;
    /* IE9以前に対応する */
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
}

.section-text {
  font-size: 14px;
  /* IE9以前に対応する */
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.7px;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header {
  width: 100%;
  height: 74px;
  background-color: #1B1310;
  border-bottom: 2px solid #fff;
  font-family: Roboto;
}

.header__inner {
  max-width: calc(1200px + 50px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-top: 20px;
  color: #fff;
  font-size: 26px;
  /* IE9以前に対応する */
  font-size: 1.625rem;
  font-weight: 600;
}

.header__nav {
  margin-top: 30px;
  margin-left: auto;
}

.nav {
  color: #fff;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item a {
  display: block;
}

.nav__item + .nav__item {
  margin-left: 56px;
}

.hamburger {
  display: none;
}

.sp-nav {
  display: none;
}

/* --------------------------------
 * header
 * -------------------------------- */
@media screen and (max-width: 599px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
    margin-top: 26px;
    margin-left: auto;
    z-index: 300;
  }
  .hamburger__btn,
  .hamburger__line {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .hamburger__btn {
    position: relative;
    width: 25px;
    height: 16px;
  }
  .hamburger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 0;
  }
  .line--top {
    top: 0;
  }
  .line--middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .line--bottom {
    bottom: 0;
  }
  .hamburger__btn.active .line--top {
    -webkit-transform: rotate(-45deg) translate(-2px, 8px);
            transform: rotate(-45deg) translate(-2px, 8px);
  }
  .hamburger__btn.active .line--middle {
    opacity: 0;
  }
  .hamburger__btn.active .line--bottom {
    -webkit-transform: rotate(45deg) translate(-2px, -8px);
            transform: rotate(45deg) translate(-2px, -8px);
  }
  .sp-nav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .sp-nav__bg {
    width: 100%;
    height: 100%;
    background-color: #1B1310;
  }
  .sp-nav__items {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
  .sp-nav__item + .sp-nav__item {
    margin-top: 50px;
  }
}

/* --------------------------------
 * ■　hero
 * -------------------------------- */
.hero {
  position: relative;
}

.hero__img {
  width: 100%;
  height: 740px;
}

.hero__img--pc {
  display: block;
  height: 740px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__img--sp {
  display: none;
}

.hero__message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 136px;
  font-family: "Roboto";
  color: #fff;
  font-size: 50px;
  /* IE9以前に対応する */
  font-size: 3.125rem;
  text-align: center;
  line-height: 136px;
  border: 2px solid #fff;
}

/* --------------------------------
 * 1.About
 * -------------------------------- */
/* --------------------------------
 * 2.Service
 * -------------------------------- */
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service__img {
  max-width: 480px;
  height: 240px;
}

.service__img img {
  display: block;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__content {
  width: 480px;
  max-width: 100%;
}

.service__item + .service__item {
  margin-top: 50px;
}

/* --------------------------------
 * 3.News
 * -------------------------------- */
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  max-width: calc(33.33333% - 35px * 2 / 3);
  -webkit-box-shadow: 0px 0px 6px #1B131066;
          box-shadow: 0px 0px 6px #1B131066;
}

.news__img {
  display: block;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__img img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__text {
  padding: 18px;
  font-family: 'メイリオ', 'Meiryo';
  font-size: 13px;
  /* IE9以前に対応する */
  font-size: 0.8125rem;
  letter-spacing: 0.65px;
  line-height: 1.9;
}

.news__item + .news__item {
  margin-left: 35px;
}

/* --------------------------------
 * 4.お問い合わせ
 * -------------------------------- */
.contact__title {
  font-size: 24px;
  /* IE9以前に対応する */
  font-size: 1.5rem;
  letter-spacing: 2.4px;
}

.contact__inner {
  max-width: calc(700px + 50px * 2);
}

.contact__form {
  font-family: " Kaku Gothic ProN";
}

.contact__form .input {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 22px;
  border: 1px solid #141414;
}

.contact__form .textarea {
  width: 100%;
  height: 170px;
  padding: 5px;
  margin-bottom: 50px;
  border: 1px solid #141414;
}

.contact__btn {
  display: block;
  margin: 0 auto;
  padding: 16px 98px;
  background-color: #1B1310;
  font-size: 20pxpx;
  /* IE9以前に対応する */
  font-size: 1.25pxrem;
  color: #fff;
  -webkit-box-shadow: 0px 0px 6px #1B1310;
          box-shadow: 0px 0px 6px #1B1310;
  border-radius: 50px;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  width: 100%;
  height: 78px;
  background-color: #1B1310;
}

.footer__copyright {
  color: #fff;
  padding-top: 30px;
  font-size: 14px;
  /* IE9以前に対応する */
  font-size: 0.875rem;
  text-align: center;
}

/* --------------------------------
 * ■　hero
 * -------------------------------- */
@media screen and (max-width: 599px) {
  .hero__img {
    height: 590px;
  }
  .hero__img--sp {
    display: block;
    height: 590px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__img--pc {
    display: none;
  }
  .hero__message {
    width: 300px;
    height: 100px;
    font-size: 34px;
    /* IE9以前に対応する */
    font-size: 2.125rem;
    line-height: 100px;
  }
}

/* --------------------------------
 * 1.About
 * -------------------------------- */
/* --------------------------------
 * 2.Service
 * -------------------------------- */
@media screen and (max-width: 959px) {
  .service__img {
    margin-top: 40px;
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
  }
  .service__img img {
    height: 150px;
  }
  .service__item {
    display: block;
  }
  .service__content {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* --------------------------------
 * 3.News
 * -------------------------------- */
@media screen and (max-width: 599px) {
  .news__items {
    display: block;
    margin: 0 12px;
  }
  .news__item {
    display: block;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 6px #1B131066;
            box-shadow: 0px 0px 6px #1B131066;
  }
  .news__text {
    padding: 25px 32px;
  }
  .news__item + .news__item {
    margin-left: 0;
    margin-top: 50px;
  }
}

/* --------------------------------
 * 4.お問い合わせ
 * -------------------------------- */
/* --------------------------------
 * footer
 * -------------------------------- */
